@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
	box-sizing: border-box;
}

body {
	background-color: #f4f4f4;
	font-size: 16px;
	padding: 0;
	margin: 0;
}

h1,
h2 {
	font-family: "Abril Fatface";
}

p {
	font-family: Helvetica, Arial, sans-serif;
}

main {
	margin: auto;
	max-width: 600px;
}

input[type="text"],
input[type="date"] {
	border: transparent;
	font-size: 2rem;
	padding: 20px;
	width: 100%;
}

input[type="date"] {
	text-align: center;
	font-family: inherit;
	margin-bottom: 20px;
}

input[type="submit"] {
	background-color: blue;
	color: #fff;
	font-family: inherit;
	width: 100%;
	padding: 10px;
	font-size: 2rem;
	border: none;
	border-radius: 100px;
	cursor: pointer;
}
