@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

body {
	background-color: #f4f4f4;
	font-size: 16px;
	padding: 0;
	margin: 0;
}

main {
	margin: auto;
	max-width: 600px;
}

input[type="text"],
input[type="date"] {
	border: solid 1px #ddd;
}
